.navbar.custom-navigation {
	margin-bottom: 35px;

	@include mobile-tablet {
		margin-bottom: 0;
	}
	
	.container-fluid {
		position: relative;

		@include mobile-tablet {
			position: static;
		}


		&--filter {
			position: absolute;
			top: 20%;
			right: 20%;

			@include mobile-tablet {
				position: static;
				margin: 15px 5px 0;
			}

			@include tablet-desktop {
				display: inline-block;
				margin: 0;
				vertical-align: top;
				padding: 20px 15px 20px;
			}

			& > select {
				background-color: #e5e2bd;
				border-color: #e7e7e7;
				font-size: 14px;
				line-height: 16px;
				padding: 5px;

				@include mobile-tablet {
					font-size: 16px;
					line-height: 18px;
				}
			}
		}

		&--reference {
			float: right;
			margin-right: 20px;
			position: relative;

			@include mobile-tablet {
				float: none;
				margin-top: 5px;
				margin-left: 15px;
				margin-bottom: 50px;
				position: absolute;
				bottom: 0;
			}

			@include tablet-desktop {
				right: 0;
				margin-bottom: 10px;
			}

			@include mobile {
				left: 0;
			}
			
			a {
				text-decoration: none;
				position: relative;
				padding-right: 20px;
				padding-top: 7px;
				font-size: 35px;
				color: #000;
				
				&.github {
					float: left;

					@include mobile-tablet {
						float: none;
					}
				}

				@include mobile-tablet {
					padding-right: 30px;
					font-size: 40px;
				}

				@include tablet-desktop {
					padding-right: 15px;
					font-size: 25px;
				}
			}
		}
		
		&--subscribe {

			.navbar-nav {
				@include tablet-desktop {
					width: 100%;
				}
			}

			@include tablet-desktop {
				position: absolute;
				bottom: 13%;
				right: 0;
				margin-right: 28px;
			}

			ul {
				margin-left: 80px;

				@include mobile-tablet {
					margin-left: -10px;
					padding-left: 15px;
					padding-right: 15px;
				}

				@include tablet-desktop {
					margin-left: 0;
					padding-left: 30px;
					padding-right: 30px;
				}
			}
			
			li {
				padding-top: 15px;
				padding-bottom: 15px;
				width: 120px;
				text-align: center;
				cursor: pointer;
				background-color: #e5e2bd;
				
				&:hover {
					background-color: #e7dfaf;

					@include mobile-tablet {
						background-color: transparent;
					}
				}

				@include mobile-tablet {
					background-color: transparent;
					font: {
						size: 30px;
						weight: bold;
					}
					line-height: 32px;
					padding-top: 0;
					width: initial;
					border-bottom: 4px solid #e5e2bd;
					padding-bottom: 0;
					margin-bottom: 20px;
				}

				@include tablet-desktop {
					font-size: 16px;
					line-height: 18px;
				}
			}
		}

		&--menu {
			@include mobile-tablet {
				padding: 20px 15px 20px;
			}

			@include tablet-desktop {
				width: 35%;
				display: inline-block;
			}
		}
	}
}

.site-up-title {
	text-align: center;
	letter-spacing: 3px;
	font: {
		weight: bold;
		size: 40px;
	}
	padding: {
		top: 30px;
		bottom: 20px;
	}

	@include mobile-tablet {
		display: none;
	}
}

.nav {

	$nav: &;

	&-mobile-active {
		#{$nav}-wrapper {
			@include mobile-tablet {
				height: initial;
			}
		}

		.navbar {
			@include mobile-tablet {
				transform: translate3d(-100vw, 0px, 0px)
			}

			&-mobile-menu > span {
				&:nth-child(1) {
					left: 1px;
					top: 2px;
				}

				&:nth-child(1),
				&:nth-child(6) {
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}

				&:nth-child(2) {
					left: calc(50% - 2px);
					top: 2px;
				}

				&:nth-child(2),
				&:nth-child(5) {
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}

				&:nth-child(3),
				&:nth-child(4) {
					left: 100%;
					opacity: 0;
					top: 7px;
				}

				&:nth-child(5) {
					left: 1px;
					top: 10px;
				}

				&:nth-child(6) {
					left: calc(50% - 2px);
					top: 10px;
				}
			}
		}


	}

	&-wrapper {
		@include mobile-tablet {
			position: relative;
			display: block;
			height: 80px;
			width: 100vw;
			margin: 0 auto;
			justify-content: space-between;
			overflow: hidden;
		}

		&-title--mobile {
			display: none;
			color: #000;
			margin-left: 30px;
			float: left;
			line-height: 80px;
			font: {
				size: 24px;
				weight: 700;
			}

			& > a {
				color: #000;

				&:hover {
					text-decoration: none;
				}
			}

			@include mobile-tablet {
				display: block;
			}
		}
	}

	&-main {
		@include mobile-tablet {
			position: fixed;
			z-index: 100;
			top: 0;
			background: #f8f8f8;
			border-color: #e7e7e7;
			height: 80px;
			width: 100vw;
		}
	}
}

.navbar {

	@include mobile-tablet {
		width: 100%;
		background: #f8f8f8;
		border-color: #e7e7e7;
		border-top-color: transparent;
		transition: transform 500ms ease, -webkit-transform 500ms ease;
		padding: 0 0 40px 0;
		text-align: left;
		margin: 75px 10px 0 100vw;
	}

	@include tablet-desktop {
		height: calc(90vh - 100px);
	}

	@include mobile {
		height: calc(100vh - 60px);
	}

	&-mobile-menu {
		display: none;
		width: 24px;
		height: 18px;
		margin: 30px 30px 0 0;
		position: relative;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;

		@include mobile-tablet {
			display: block;
			float: right;
		}

		> span {
			display: block;
			position: absolute;
			height: 4px;
			width: 50%;
			background: black;
			opacity: 1;
			-weblit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;

			&:nth-child(even) {
				left: 50%;
			}

			&:nth-child(odd) {
				left: 0;
			}

			&:nth-child(1),
			&:nth-child(2) {
				top: 0;
			}

			&:nth-child(3),
			&:nth-child(4) {
				top: 7px;
			}

			&:nth-child(5),
			&:nth-child(6) {
				top: 14px;
			}
		}
	}

	&-nav {

		@include mobile-tablet {
			float: none;
			width: 55%;
		}

		& > li {
			@include mobile-tablet {
				float: none;
			}

			& > a {
				@include mobile-tablet {
					font: {
						size: 24px;
						weight: bold;
					}
					line-height: 26px;
				}

				@include tablet-desktop {
					font-size: 16px;
					line-height: 18px;
				}
			} 
		}
	}
}

/*
* Subscribe popup
*/

.subscribe-popup {
	display: block;
	position: fixed;
	padding: 10px;
	width: 300px;
	left: 45%;
	top: 40%;
	margin-top: -10px;
	height: 160px;
	background: #fff;
	z-index: 20;

	@include mobile-tablet {
		left: 0;
		top: 0;
		width: 100%;
		height: 20%;
		margin-top: 0px;
	}

	@include tablet-desktop {
		height: 40%;
	}
	
	&_close {
		cursor: pointer;
		text-align: right;
		padding: 0 5px 10px 0;
		font-size: 12px;
	}
	
	&_submit {
		& > p {
			font: {
				weight: bold;
				size: 16px;
			}
			text-align: center;
		}
		
		form {
			.signature {
				text-align: left;
				margin-bottom: 5px;
			}
			
			input {
				display: inline-block;
				
				&[type="email"] {
					border-radius: 5px;
					height: 20px;
					padding-top: 13px;
					padding-bottom: 13px;
					border: 1px solid #b0afaf;
				}
				
				&[type="submit"] {
					color: #234253;
					background: transparent;
					border-radius: 10px;
					border: 1px solid #4a53BA;
				}
			}

			@include mobile-tablet {
				margin-left: 17%;
			}

			@include tablet-desktop {
				margin-left: 36%;
			}
		}
	}
	
	&_status {
		text-align: center;
		font: {
			weight: bold;
			size: 15px;
		}
		margin-top: 30px;
		margin-left: 10px;
		margin-right: 10px;
		border-bottom: 1px solid green;
		
		&.error {
			border-bottom: 1px solid red;
		}
	}
	
	&:after {
		position: fixed;
		content: "";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: -2;
	}
	
	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #fff;
		z-index: -1;
	}
}