<main id="main" class="main-mylovely" lovely-form >
    <div class="js-lovely-form">
        <form name="myLovelyForm" ng-submit="$myLovely.submitForm(myLovelyForm, $event)" class="b-form" action="#">
            Username: <br><input type="text" name="username" ng-required="true"><br><br>
            Password: <br><input type="password" name="password" ng-required="true"><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="js-lovely-picture hidden-soft">
        No way, I'll reveal my 4 dollars
        <img width="300" height="220" src="static/backupimages/kadet2.jpg" />
    </div>
</main>