<nav class="navbar navbar-default custom-navigation">
	<div class="container-fluid">
		<div class="container-fluid--logo">
		</div>
		<div class="container-fluid--menu">
			<ul class="nav navbar-nav">
				<li ng-class='{"active": PAGE === "posts", "active-custom": PAGE === "posts"}'><a href="/posts">Posts</a></li>
				<li ng-class='{"active": PAGE === "about", "active-custom": PAGE === "about"}'><a href="/about">About</a></li>
			</ul>
		</div>
		<div class="container-fluid--reference">
			<a href="https://github.com/IvankoRambo" target="_blank" class="github fa fa-github"></a>
			<a href="https://soundcloud.com/vankoambo" target="_blank" class="soundcloud fa fa-soundcloud"></a>
		</div>
	</div>
</nav>