<nav class="navbar navbar-default custom-navigation">
	<div class="container-fluid">
		<div class="container-fluid--logo">
		</div>
		<div class="container-fluid--menu">
			<ul class="nav navbar-nav">
				<li ng-class='{"active": PAGE === "posts", "active-custom": PAGE === "posts"}'><a href="/posts">Posts</a></li>
				<li ng-class='{"active": PAGE === "about", "active-custom": PAGE === "about"}'><a href="/about">About</a></li>
			</ul>
		</div>
		<div class="container-fluid--reference">
			<span class="github"></span>
			<span class="soundcloud"></span>
		</div>
	</div>
</nav>