<div class="commands" id="commands">
	<a href="#" data-command='undo' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-undo"></i>
	</a>
	<a href="#" data-command='redo' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-repeat"></i>
	</a>
	<div class="commands-letter-color_wrapper">
		<i class="fa fa-font"></i>
		<div class="commands-letter-color_pallette">
			<a href="#" ng-repeat="color in $ctrl.colors" ng-click="$ctrl.doCommand($event)" data-command='forecolor' data-value='#{{color}}' style="background-color: #{{color}};" class="command-letter-color_item" >
			</a>
		</div>
	</div>
	<div class="commands-background-color_wrapper">
		<i class="fa fa-font"></i>
		<div class="commands-background-color_pallette">
			<a href="#" ng-repeat="color in $ctrl.colors" ng-click="$ctrl.doCommand($event)" data-command='backcolor' data-value='#{{color}}' style="background-color: #{{color}};" class="command-background-color_item" >
			</a>
		</div>
	</div>
	<a href="#" data-command='bold' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-bold"></i>
	</a>
	<a href="#" data-command='italic' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-italic"></i>
	</a>
	<a href="#" data-command='underline' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-underline"></i>
	</a>
	<a href="#" data-command='strikeThrough' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-strikethrough"></i>
	</a>
	<a href="#" data-command='justifyLeft' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-justifyleft"></i>
	</a>
	<a href="#" data-command='justifyCenter' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-justifycenter"></i>
	</a>
	<a href="#" data-command='justifyRight' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-justifyright"></i>
	</a>
	<a href="#" data-command='justifyFull' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-justifyfull"></i>
	</a>
	<a href="#" data-command='indent' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-indent"></i>
	</a>
	<a href="#" data-command='outdent' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-outdent"></i>
	</a>
	<a href="#" data-command='insertUnorderedList' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-ulist"></i>
	</a>
	<a href="#" data-command='insertOrderedList' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-olist"></i>
	</a>
	<a href="#" data-command='h1' ng-click="$ctrl.doCommand($event)" >
		H1
	</a>
	<a href="#" data-command='h2' ng-click="$ctrl.doCommand($event)" >
		H2
	</a>
	<a href="#" data-command='createlink' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-link"></i>
	</a>
	<a href="#" data-command='unlink' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-unlink"></i>
	</a>
	<a href="#" data-command='insertimage' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-image"></i>
	</a>
	<a href="#" data-command='p' ng-click="$ctrl.doCommand($event)" >
		P
	</a>
	<a href="#" data-command='subscript' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-subscript"></i>
	</a>
	<a href="#" data-command='superscript' ng-click="$ctrl.doCommand($event)" >
		<i class="fa fa-superscript"></i>
	</a>
</div>